{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Maxim Hazankin - Infrastracture and IT Professional.</p>
    <p><a href="https://www.linkedin.com/in/maxim-hazankin-73256177/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>
           Maxim Hazankin
68 Wakefield Crt, Middle Sackville, NS
LinkedIn (902) 999-7771 ashtrum@gmail.com
HIGHLIGHTS OF QUALIFICATIONS
• More than 14 years’ experience in complex IT Infrastructure and Network Environments
• Specialized on high availability multilayer systems
• Broad knowledge and experience with storage and virtualization
• Experienced with automation and disaster recovery procedures
• Design and implementation of monitoring for Airlines critical systems
• Expert Network and System Administrator
• Excellent team player with strong interpersonal communication skills, innovation-oriented mindset
• Quick learner with a system wide vision and methodical approach to problem solving
TECHNICAL SKILLS
Servers: Windows2003/8/12/16 - (DC, DNS, DHCP, IIS, SQL, Data Center, App, FTP, SharePoint),
Citrix, Linux, RedHat, ESXi, Hyper-V, NetApp, Apache, AS400
Network: Cisco Routers and switches, Network / Routing protocols. Cisco ASA. Telco systems. F5.
Check Point. Juniper. RAD.
Tools: SCOM, Tivoli, IBM Big Fix, vSphere, Orion, HPSIM, PeackFlow, Wireshark, Lansweeper,
PyCharm, WordPress.
Languages: PowerShell Scripting, Python, SQL, HTML, and DOS.
Cloud Experience: Azure, Office365 – Hybrid Cloud, VMware Cloud on AWS.
PROFESSIONAL EXPIRIENCE
Operation Support Analyst (Dec. 2013 – Present)
Jazz Aviation LP. Halifax NS.
• Responsible to support and maintain Operational and Business Critical Systems, including support of
critical systems, Applications, Servers, Storage, Networks; as well as any related technology required
to provide the services with emphasis on Availability, Performance and Security of entire infrastructure.
Maintain the health and stability of the Production / Infrastructure Environment.
• Issues escalation to Tier 3 SME’s from Production Services or Portfolio Management
• Monitor and manage data backup solutions
• Providing all levels of technical support to all levels of customers, for problems including but not limited
to, Servers, desktops, laptops, peripheral devices, general productivity software (Microsoft suite of
applications), and industry-specific software. Level of response is based on priority of issues and
availability of resources.
• Authoring, maintaining, and communicating operational documentation, procedural documentation and
information to ensure timely and efficient response to issues, as well as information relating to
business continuity/disaster recovery, response to and mitigation of equipment and software and
hardware malfunctions, standard practices, and training guidelines
Key Achievements:
• Implemented full Radio Network infrastructure design and training documentation.
• Implemented administrative tasks automation for Daily tasks by using PowerShell
• Created new procedures and documentations for Business critical systems deployment and support
• Automate user experience in SOC Department by establishing Mandatory profiles environment and
successfully managed all upcoming changes
• Develop set of various scripts to manage user profiles and automate system tasks
Network Operation Specialist (NOC) (Apr. 2012 ~ Dec. 2013)
Eastlink Halifax NS (Canada)
• Core Network Infrastructure Monitoring and troubleshooting
• Enterprise Businesses Costumers Connection and Configuration troubleshooting
• Network traffic flow and Impacting analysis and troubleshooting for Video, Data, VoIP, Wireless and
Internet Services. Working in different projects for Network Operation Center
• Setting up the network environment, Maintaining the network, Design VLAN’s and use of various
routing protocols to meet business needs.
• Schedule and communicate complex network infrastructure work what include meet SLA with
hundreds of enterprise and SMB costumers
IT Analyst (May 2011 ~ Mar. 2012)
PC Medic Halifax NS (Canada)
• Customer service and support
• Maintenance and troubleshoot PC, MS Windows Servers, Unix based systems
• Installation and configuration of servers, applying group policies, and network infrastructure for SMB
Costumers.
System and Network Administrator (Oct. 2006 ~ Feb. 2011)
LeumIT Health Funds Tel Aviv, (Israel)
• Performed hardware, software and network upgrades and integration for the LeumIT Health Funds IT
department. Implemented and maintained system security and configuration for company
Infrastructure, while providing IT support, include planning, software and hardware configuration
to more than 6000 end-users
• Analyzed and test to determine, recommend types of servers modifications to existing systems
• Deploying applications and IT projects integration, AD/DC administration, GP implementation, DNS,
DHCP and MS Exchange server administration
• Server’s management and maintenance include backup and restore procedures
• Provided necessary analysis and support for effective LAN/WAN Infrastructure
• Provided essential instructions and user maintenance procedures suitable for all users functions
• Setup and documented disaster recovery procedures, backup procedures and systems recovery
Key Achievements:
• Implemented query request automation by using Active Role Management Shell for AD
• Develop and standardized set of PowerShell scripts to administer various administrative tasks
Operating Systems and Network Technician (Feb. 2006 ~ Oct. 2006)
Emil IT Solutions LTD. (Israel)
• Troubleshooting networks, computers and peripherals
• Conducted various training sessions of junior computer technicians
• Played initiative role of standardizing support documentation creation
• Troubleshooting operating systems and network issues
IT Technical Assistant /Network Support (Aug. 2005 ~ Feb. 2006)
012 Golden Lines Ltd (Israel ISP)
• Troubleshoot Internet connection problems for users and SMB
• Configured network equipment and costumer’s network
• Provided remote troubleshooting to end-users
EDUCATION & CERTIFICATIONS
ITIL v3 Foundations – Certificate (2014)
Microsoft Certified System Administrator (MCSA) Specter College, Israel (2009)
CompTIA A+, Specter College, Israel (2007)
The Open University, Israel – Computer Science Courses (2004 – 2006)
        </p>

    </div>
</div>

{% endblock %}
