{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Maxim Hazankin</h1>
    <p class="lead">Maxim Hazankin - Infrastracture and IT Professional.</p>
    <p><a href="https://www.linkedin.com/in/maxim-hazankin-73256177/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>
           <p>
    Maxim Hazankin
</p>
<p>
    68 Wakefield Crt, Middle Sackville, NS
</p>
<p>
    LinkedIn (902) 999-7771 ashtrum@gmail.com
</p>
<p>
    HIGHLIGHTS OF QUALIFICATIONS
</p>
<p>
    • More than 14 years’ experience in complex IT Infrastructure and Network
    Environments
</p>
<p>
    • Specialized on high availability multilayer systems
</p>
<p>
    • Broad knowledge and experience with storage and virtualization
</p>
<p>
    • Experienced with automation and disaster recovery procedures
</p>
<p>
    • Design and implementation of monitoring for Airlines critical systems
</p>
<p>
    • Expert Network and System Administrator
</p>
<p>
    • Excellent team player with strong interpersonal communication skills,
    innovation-oriented mindset
</p>
<p>
    • Quick learner with a system wide vision and methodical approach to
    problem solving
</p>
<p>
    TECHNICAL SKILLS
</p>
<p>
    Servers: Windows2003/8/12/16 - (DC, DNS, DHCP, IIS, SQL, Data Center, App,
    FTP, SharePoint),
</p>
<p>
    Citrix, Linux, RedHat, ESXi, Hyper-V, NetApp, Apache, AS400
</p>
<p>
    Network: Cisco Routers and switches, Network / Routing protocols. Cisco
    ASA. Telco systems. F5.
</p>
<p>
    Check Point. Juniper. RAD.
</p>
<p>
    Tools: SCOM, Tivoli, IBM Big Fix, vSphere, Orion, HPSIM, PeackFlow,
    Wireshark, Lansweeper,
</p>
<p>
    PyCharm, WordPress.
</p>
<p>
    Languages: PowerShell Scripting, Python, SQL, HTML, and DOS.
</p>
<p>
    Cloud Experience: Azure, Office365 – Hybrid Cloud, VMware Cloud on AWS.
</p>
<p>
    PROFESSIONAL EXPIRIENCE
</p>
<p>
    Operation Support Analyst (Dec. 2013 – Present)
</p>
<p>
    Jazz Aviation LP. Halifax NS.
</p>
<p>
    • Responsible to support and maintain Operational and Business Critical
    Systems, including support of
</p>
<p>
    critical systems, Applications, Servers, Storage, Networks; as well as any
    related technology required
</p>
<p>
    to provide the services with emphasis on Availability, Performance and
    Security of entire infrastructure.
</p>
<p>
    Maintain the health and stability of the Production / Infrastructure
    Environment.
</p>
<p>
    • Issues escalation to Tier 3 SME’s from Production Services or Portfolio
    Management
</p>
<p>
    • Monitor and manage data backup solutions
</p>
<p>
    • Providing all levels of technical support to all levels of customers, for
    problems including but not limited
</p>
<p>
    to, Servers, desktops, laptops, peripheral devices, general productivity
    software (Microsoft suite of
</p>
<p>
    applications), and industry-specific software. Level of response is based
    on priority of issues and
</p>
<p>
    availability of resources.
</p>
<p>
    • Authoring, maintaining, and communicating operational documentation,
    procedural documentation and
</p>
<p>
    information to ensure timely and efficient response to issues, as well as
    information relating to
</p>
<p>
    business continuity/disaster recovery, response to and mitigation of
    equipment and software and
</p>
<p>
    hardware malfunctions, standard practices, and training guidelines
</p>
<p>
    Key Achievements:
</p>
<p>
    • Implemented full Radio Network infrastructure design and training
    documentation.
</p>
<p>
    • Implemented administrative tasks automation for Daily tasks by using
    PowerShell
</p>
<p>
    • Created new procedures and documentations for Business critical systems
    deployment and support
</p>
<p>
    • Automate user experience in SOC Department by establishing Mandatory
    profiles environment and
</p>
<p>
    successfully managed all upcoming changes
</p>
<p>
    • Develop set of various scripts to manage user profiles and automate
    system tasks
</p>
<p>
    Network Operation Specialist (NOC) (Apr. 2012 ~ Dec. 2013)
</p>
<p>
    Eastlink Halifax NS (Canada)
</p>
<p>
    • Core Network Infrastructure Monitoring and troubleshooting
</p>
<p>
    • Enterprise Businesses Costumers Connection and Configuration
    troubleshooting
</p>
<p>
    • Network traffic flow and Impacting analysis and troubleshooting for
    Video, Data, VoIP, Wireless and
</p>
<p>
    Internet Services. Working in different projects for Network Operation
    Center
</p>
<p>
    • Setting up the network environment, Maintaining the network, Design
    VLAN’s and use of various
</p>
<p>
    routing protocols to meet business needs.
</p>
<p>
    • Schedule and communicate complex network infrastructure work what include
    meet SLA with
</p>
<p>
    hundreds of enterprise and SMB costumers
</p>
<p>
    IT Analyst (May 2011 ~ Mar. 2012)
</p>
<p>
    PC Medic Halifax NS (Canada)
</p>
<p>
    • Customer service and support
</p>
<p>
    • Maintenance and troubleshoot PC, MS Windows Servers, Unix based systems
</p>
<p>
    • Installation and configuration of servers, applying group policies, and
    network infrastructure for SMB
</p>
<p>
    Costumers.
</p>
<p>
    System and Network Administrator (Oct. 2006 ~ Feb. 2011)
</p>
<p>
    LeumIT Health Funds Tel Aviv, (Israel)
</p>
<p>
    • Performed hardware, software and network upgrades and integration for the
    LeumIT Health Funds IT
</p>
<p>
    department. Implemented and maintained system security and configuration
    for company
</p>
<p>
    Infrastructure, while providing IT support, include planning, software and
    hardware configuration
</p>
<p>
    to more than 6000 end-users
</p>
<p>
    • Analyzed and test to determine, recommend types of servers modifications
    to existing systems
</p>
<p>
    • Deploying applications and IT projects integration, AD/DC administration,
    GP implementation, DNS,
</p>
<p>
    DHCP and MS Exchange server administration
</p>
<p>
    • Server’s management and maintenance include backup and restore procedures
</p>
<p>
    • Provided necessary analysis and support for effective LAN/WAN
    Infrastructure
</p>
<p>
    • Provided essential instructions and user maintenance procedures suitable
    for all users functions
</p>
<p>
    • Setup and documented disaster recovery procedures, backup procedures and
    systems recovery
</p>
<p>
    Key Achievements:
</p>
<p>
    • Implemented query request automation by using Active Role Management
    Shell for AD
</p>
<p>
    • Develop and standardized set of PowerShell scripts to administer various
    administrative tasks
</p>
<p>
    Operating Systems and Network Technician (Feb. 2006 ~ Oct. 2006)
</p>
<p>
    Emil IT Solutions LTD. (Israel)
</p>
<p>
    • Troubleshooting networks, computers and peripherals
</p>
<p>
    • Conducted various training sessions of junior computer technicians
</p>
<p>
    • Played initiative role of standardizing support documentation creation
</p>
<p>
    • Troubleshooting operating systems and network issues
</p>
<p>
    IT Technical Assistant /Network Support (Aug. 2005 ~ Feb. 2006)
</p>
<p>
    012 Golden Lines Ltd (Israel ISP)
</p>
<p>
    • Troubleshoot Internet connection problems for users and SMB
</p>
<p>
    • Configured network equipment and costumer’s network
</p>
<p>
    • Provided remote troubleshooting to end-users
</p>
<p>
    EDUCATION &amp; CERTIFICATIONS
</p>
<p>
    ITIL v3 Foundations – Certificate (2014)
</p>
<p>
    Microsoft Certified System Administrator (MCSA) Specter College, Israel
    (2009)
</p>
<p>
    CompTIA A+, Specter College, Israel (2007)
</p>
<p>
    The Open University, Israel – Computer Science Courses (2004 – 2006)
</p>
        </p>

    </div>
</div>

{% endblock %}
